* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: #1e1f20;
}


header{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    background-color: #f0f8ff98;
}

header .navbar{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar .menu-links li a:hover{
    color: #ffff00;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the subnav content - positioned absolute */
.subnav-content{
    display: none;
    top: 6%;
    list-style: none;
    text-decoration: none;
    position: absolute;
    line-height: 2rem;
    color: black;
    max-width: 300px;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    transition: ease-in 5s;
    display: block;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.hero{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(Design/images/bg-dot.png), url(Design/images/bg-dot.png), url(Design/images/bg-round.png), url(Design/images/bg-tree.png);
    background-position: 10px 10px, bottom 215px, right 10px, left 55%, top -1%, left 45%, bottom -1px;
    background-repeat: no-repeat;
}

.curve{
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    height: 15rem;
}

.hero .row{
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    justify-content: space-between;
}

.hero .row h2,
.hero .row ol li{
    color: #fff;
}

.hero .row h2{
    margin-bottom: 10px;
}

.hero .row ol li{
    margin-top: 10px;
}

.hero .column{
    width: 50%;
}

.hero .colu{
    width: 50%;
}

.buttons{
    display: flex;
    margin-top: 25px;
    gap: 10px;
}

.btn{
    padding: 14px 26px;
    background: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn a{
    color: #fff;
}

.btn a:hover{
    color: #000;
}

.btn:last-child{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.btn:last-child:hover{
    background-color: #fff;
    color: #333;
}

.hero_img{
    width: 100%;
    z-index: 10;
    position: relative;
}

/*Responsiveness*/

@media(width < 860px){

    .nav{
        padding: 0 20px;
        background-color: #fff;
    }

    .menu_items{
        position: fixed;
        top: 0;
        width: 260px;
        background-color: #fff;
        height: 100%;
        left: -100%;
        padding: 50px 30px 30px;
        flex-direction: column;
        transition: all 0.5s ease;
    }

    .showMENU .menu_items{
        left: 0;
    }

    a{
        color: #333;
    }

    .hero{
        padding-top: 130px;
    }

    .hero .row{
        flex-direction: column;
        padding: 0.20px;
        justify-content: center;
    }

    .hero .row .column{
        width: 100%;
    }
}

@media(width < 600px){

    .hero .column{
        padding: 40px;
    }

    .hero .row h2{
        font-size: 26px;
    }

    .buttons{
        justify-content: center;
    }

    .btn{
        padding: 10px 16px;
    }

}
