* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: linear-gradient(to bottom, #232324, #6e6e65, #2d2e2d);
}

header{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    background-color: #272829ef;
}

header .navbar{
    max-width: 1280px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.navbar .menu-links li a:hover{
    color: #ffff00;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    top: 6%;
    list-style: none;
    text-decoration: none;
    position: absolute;
    margin-top: 5px;
    line-height: 2rem;
    color: black;
    max-width: 300px;
    z-index: 1;
}

.subnav .subnav-content li{
    list-style: none;
}

/* Style the subnav links */
.subnav-content a {
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
    list-style: none;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(300px, 1fr) );
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item{
    background: linear-gradient(to bottom, #0e0e0f 23%, #3d3c3c 95%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.2s ease-out;

}

.card-list .card-item:hover {
    border: 3px solid #e6e6e6;
}

.card-list .card-item img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span{
    display: inline-block;
    background: #f7dff5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: o,8rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer{
    background: #f7dff5;
    color: #b22;
}

.card-list .designer{
    background: #d1e8ff;
    color: #2968a8;
}

.card-list .editor{
    background: #d6f8d6;
    color: #205c20;
}

.card-item p{
    color: #ffffff;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 600;
}

.card-item .arrow{
    display: flex;
    align-items: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow{
    background: #000007;
    color: #fff;
}

/* SECOND SECTION STYLING */

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(300px, 1fr) );
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item{
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.2s ease-out;

}

.card-list .card-item:hover {
    border: 3px solid #e6e6e6;
}

.card-list .card-item img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span{
    display: inline-block;
    background: #f7dff5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: o,8rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer{
    background: #f7dff5;
    color: #b22;
}

.card-list .designer{
    background: #d1e8ff;
    color: #2968a8;
}

.card-list .editor{
    background: #d6f8d6;
    color: #205c20;
}

.card-item h3{
    color: #ffffff;
    font-size: 1.438rem;
    margin-top: 20px;
    font-weight: 600;
}

.card-item .arrow{
    display: flex;
    align-items: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow{
    background: #000;
    color: #fff;
}



@media (max-width: 1200px){
    .card-list .card-item{
        padding: 15px;
    }
}

@media screen and (max-width: 980px){
    .card-list{
        margin: 0 auto;
    }
    
}